@{  
    Layout = "~/Views/Shared/_Layout.cshtml";  
}
@model TrainERP.Web.PageModels.MenuLayoutModel
@section MenuHead{
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet"
        type="text/css" />
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" language="javascript"
        type="text/javascript"></script>
}
<style type="text/css">
    #menu_body
    {
    }
    
    #menu_top_nav
    {
        height: 46px;
        background-color: Gray;
    }
    
    #below_container
    {
    }
    
    #menu_side_nav
    {
        float: left;
        width: 179px;
        position: fixed;
        left: 0px;
        top: 106px;
        bottom: 31px;
        border-right: solid 1px Gray;
    }
    
    #menu_content
    {
        position: fixed;
        left: 180px;
        top: 106px;
        right: 0;
        bottom: 31px;
        background-color: Blue;
    }
    
    #main_menu
    {
    }
    
    #menu_item_first
    {
    }
    
    #menu_item_first a
    {
        width: 180px;
        background-color: #ff4a00;
    }
    
    
    .main_menu_item
    {
        float: left;
        font-size: 18px;
        line-height: 18px;
        list-style-type: none;
    }
    
    .main_menu_item a
    {
        display: block;
        height: 46px;
        width: 100px;
        line-height: 46px;
        text-decoration: none;
        text-align: center;
        color: White;
    }
    
    .main_menu_item a:hover
    {
        background-color: Black;
    }
</style>
<div id="menu_body">
    <div id="menu_top_nav">
        <ul id="main_menu">
            <li id="menu_item_first" class="main_menu_item"><a href=""><span style="display: block;
                margin-left: 30px;">公&nbsp;&nbsp;告</span></a> </li>
            <li class="main_menu_item"><a href=""><span>销售管理</span></a></li>
            <li class="main_menu_item"><a href=""><span>课程管理</span></a></li>
            <li class="main_menu_item"><a href=""><span>系统管理</span></a></li>
        </ul>
    </div>
    <div id="below_container">
        <div id="menu_side_nav">
            <ul>
                <li></li>
            </ul>
        </div>
        <div id="menu_content">
        </div>
    </div>
</div>
<div>
    @RenderBody()
</div>
