@{  
    Layout = "~/Views/Shared/_Layout.cshtml";  
}
@model TrainERP.Web.PageModels.MenuLayoutModel
@section MenuHead{
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet"type="text/css" />
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" language="javascript" />
}

<style type="text/css">
    
</style>


<div>
    @RenderBody()
</div>
